<div class="entity">
  <div class="entity-info">
  	<div class="entity-id">ID</div>
    <div class="entity-display-name"><%= entity.entityDisplayName; %></div>
    <div class="entity-MAC">Adresse MAC</div>
  </div> 
</div>