<div class="entity">
  <div class="entity-info">
  	<div class="entity-id"><%= entity.entityId; %></div>
    <div class="entity-display-name"><%= entity.entityDisplayName; %></div>
    <div class="entity-MAC"><%= entity.entityMacAddress; %></div>
  </div> 
</div>