<% 
function renderDurationName(timestamp) {
	var timeout = + new Date()-timestamp;
 	if(timeout<10000){
 		return "Il y a quelques secondes";
 	}
 	else if(timeout>60000 && timeout<3600000){
 		return "Il y a "+ Math.floor(timeout/60000)+ " minutes";
 	}
 	else{
 		return "Il y a plus d'une heure";
 	}
 } 
 %>
<div class="entity" @click="clickEntity()">
  <img src="/images/medic.png" alt="">
  <div class="entity-info">
    <span class="display-name"><%= entity.entityDisplayName; %></span>
    <span class="last-received">Dernière reception <%= renderDurationName(entity.position[0].timestamp); %></span>
  </div>
  <i class="fa fa-2x fa-signal green"></i>
</div>
