<div class="entity">
  <img src="/images/medic.png" alt="">
  <div class="entity-info">
    <span class="display-name"><%= entity.entityDisplayName; %></span>
    <span class="last-received">Unknown</span>
  </div>
  <i class="fa fa-2x fa-signal green"></i>
</div>
