.purple{
    color: @purple;
  }
.datas{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.entityproperties{flex-direction: column;}
.contenu{
	width:100%;
	height:50px;
	background-color:#ccc;
	padding:5px;
	}