<div id="beecon">
<h1 class="blue">Beecon</h1>
<h2>Liste des beecons</h2>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAddBeecon">Ajouter un beecon</button>
<div class="beeconContainer mt-5">
	<div class="beecon header"><span>#</span><span>Nom du beecon</span><span>Addresse MAC</span></div>
	<div class="beecon"><span>12</span><span>Beecon 1</span><span>14A:350D::22:297</span></div>
</div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="modalAddBeecon">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ajouter un beecon</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="" class="form-group">
        	<p><b>Nom du beecon</b> <input type="text" name="beeconName" class="form-control"></p>
        	<p><b>Mac du beecon</b> <input type="text" name="beeconMac" class="form-control"></p>
        	<center><input type="submit" class="btn btn-primary" name="subBeecon" value="Enregistrer ce beecon"></center>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>