<div id="beecon" v-cloak>
<h1 class="blue">Beecon</h1>
<h2>Liste des beecons</h2>
<div id="message"></div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAddBeecon">Ajouter un beecon</button>
<div class="beeconContainer mt-5">
	<div class="beecon header"><span>#</span><span>Nom du beecon</span><span>Addresse MAC</span></div>
	<% beacons.forEach(function(beacon){ %>
		<div class="beecon"><span><%= beacon.id %></span><span><%= beacon.nom %></span><span><%= beacon.addMac %></span></div>
	<% }); %>
	
</div>
<div class="modal" tabindex="-1" role="dialog" id="modalAddBeecon">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ajouter un beecon</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-group" v-on:submit.stop.prevent="addNewBeacon">
        	<p><b>Nom du beecon</b> <input type="text" id="beeconName" class="form-control"></p>
        	<p><b>Mac du beecon</b> <input type="text" id="beeconMac" class="form-control"></p>
        	<center><input type="submit" class="btn btn-primary ex" name="subBeecon" value="Enregistrer ce beecon"></center>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>
</div>
