<div id="entitylist">
<h1 class="purple">Entity</h1>
<div class="entitiesproperties">
	<h2>Known Entity</h2>
		<div class="contenu">
			<% knownEntities.forEach(function(entity){ %>
				<%- include('../layouts/layout-entity-details.ejs', {entity: entity}); %>
			<% }); %>
		</div>
</div>
<div class="entitiesproperties">
	<h2>Unknow Entity</h2>
		<div class="contenu">
			<% unknownEntities.forEach(function(entity){ %>
				<%- include('../layouts/layout-entity-details.ejs', {entity: entity}); %>
			<% }); %>
		</div>
</div>

<div>
	<form>
		<label for="theunknowentities">Liste des entités inconnues : </label>
		<select id="liste"></select>
		<input type="button" id="ajout" value="Enregistrer">
	</form>
	<script>
		var select = document.getElementById("liste");
		var option = select.getElementsByTagName('option');
		unknownEntities.forEach(
		select.options[selectajout.length]=new Option (entity.entityDisplayName,entity.entityDisplayName))
		document.getElementById("ajout").addEventListener("click",enregistrer);
		function enregistrer(){
			let entity = document.getElementById("liste").options[choice].value;
			entity.entityRegistered= true;
		}
	</script>
</div>
</div>
