<div id="entitylist">
<h1 class="purple">Entity</h1>
<div class="entitiesproperties">
	<h2>Known Entity</h2>
		<div class="contenu">
			<% knownEntities.forEach(function(entity){ %>
				<%- include('../layouts/layout-entity-details.ejs', {entity: entity}); %>
			<% }); %>
		</div>
</div>
<div class="entitiesproperties">
	<h2>Unknow Entity</h2>
		<div class="contenu">
			<% unknownEntities.forEach(function(entity){ %>
				<%- include('../layouts/layout-entity-details.ejs', {entity: entity}); %>
			<% }); %>
		</div>
</div>
</div>
