
<center>
	<h1><span class="purple">Entity</span></h1>
</center>
<div id="entitiesproperties">
	<h2>Known Entity</h2>
		<div class="contenu">
			<div> ID Display Name MAC <i class="fa fa-2x fa-signal green"></i></div> 
		</div>
</div>
<div id="entityproperties">
	<h2>Unknow Entity</h2>
		<div class="contenu">
			<div> ID Display Name MAC <i class="fa fa-2x fa-signal green"></i></div> 
		</div>
</div>
	
