<div id="entity">
<h1 class="purple">Entity</h1>
<div class="entitiesproperties">
	<h2>Dispositifs Enregistré</h2>
		<div class="contenu">
			<div class="entity header">
			  <div class="entity-info">
			  	<div class="entity-id">ID</div>
			    <div class="entity-display-name">Nom</div>
			    <div class="entity-MAC">Adresse MAC</div>
			  </div> 
			</div>
			<% knownEntities.forEach(function(entity){ %>
				<%- include('../layouts/layout-entity-details.ejs', {entity: entity}); %>
			<% }); %>
		</div>
</div>
<div class="entitiesproperties">
	<h2>Dispositifs inconnus</h2>
	<div id="message"></div>
		<div class="contenu">
			<% unknownEntities.forEach(function(entity,idx){ %>
				<%- include('../layouts/layout-entity-details-unknown.ejs', {entity: entity}); %>
			<% }); %>
		</div>
</div>

</div>
