<div id="homepage" v-cloak>
  <div id="row-1" class="">
    <div id="col-1">
      <div id="map">
        <h1><span class="blue">Hospital</span> Map</h1>
        <div id="map-container">

        </div>
      </div>
      <div id="entity-info">
        <h1><span class="purple">Entity</span> Info</h1>
        <div id="entity-info-data"></div>
      </div>
    </div>
    <div id="entities">
      <h1><span class="green">Active</span> Entities <small>(X)</small></h1>
      <div class="entity-container">
        <% 
        data.forEach(function(entity){ 
          %>
  <%- include('../layouts/layout-entity-grid.ejs', {entity: entity}); %>
<% }); %>
      </div>
    </div>
  </div>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser()%>
<%
/*
console.log(data);
  data.forEach(function(entity){
   %>
    <%= entity.entityDisplayName %>
    <%- include('layout-entity-grid', {entity: entity}); %>
  <% });
  */
  %>
